*{
    padding:0;
    margin:0;
}

p {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

li {
    margin-bottom: 20px;
}

section {
    margin: 20px;
}

a {
    color: #ffb1b1cb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #833E58;
}

body{
    background-color: rgb(4, 10, 10)   ; 
    color:#ffffff; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: medium;
    background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.50) 1px,
    transparent 1px
    );
    background-size: 20px 20px;
}

main{
    max-width: 1200px;
    margin:0 auto;
}

#gostos{
    font-size: large;
    background-color: rgb(8, 10, 10);
    padding: 20px;
    border-radius: 10px; 
}

#projetos{
    font-size: large;
    background-color: rgb(8, 10, 10);
    padding: 20px;
    border-radius: 10px; 
}

.div-textos-centrais {

    text-align: center;

}

#inicio{
    font-size: large;
    background-color: rgb(8, 10, 10);
    padding: 20px; 
    border-radius: 10px;
}

.div-perfil {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.perfil-mokou {
    width: 150px;
    height: auto;
    flex-shrink: 0;
    transition: 0.3 ease;
}

.perfil-mokou:hover {

    transform: scale(1.08);
    box-shadow: 4px 4px 50px #eeeded;

}

.texto-perfil-div {
    flex: 1;
}


#minhas-redes-sociais{
    font-size: large;
    background-color: rgb(8, 10, 10);
    margin: 10px; /* espaçamento externo */
    padding: 20px; 
    border-radius: 10px; 
}

footer{
    font-size: large;
    background-color: rgb(8, 10, 10);
    padding: 10px;
    text-align: center; /* alinha o texto ao centro */    
}

#footer-nav{
    background-color: rgb(8, 10, 10);
    padding: 10px;
}


nav{
    background-color: rgb(8, 10, 10);
    padding: 20px;
    text-align: center  ;
}

nav ul li{
    display:inline; /* posiciona itens em linha */
    padding:20px;
}

nav ul li a{
    text-decoration: none; /* remove underline ou formatações no texto */
    color: #ffb1b1cb;
}

nav ul li a:hover{
    text-decoration: underline; /* insere underline no texto*/
    color: #833E58;
}

section ul {
padding-left: 20px;
}

html {
    scrollbar-width: auto;
    scrollbar-color:#faf9fa;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(8, 10, 10);
}

::-webkit-scrollbar-thumb {
    background:     #faf9fa;
    border-radius: 10px;
}